#projectBox {
  width: 550px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.2s;
  background: var(--project-selector-bg);
  color: var(--text);
}
#projectBox:hover {
  background: var(--project-selector-bg-hover);
}
.projectDetails {
  width: 570px;
  height: 200px;
  overflow-y: scroll;
  padding: 5px 0px;
  margin-top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  background: var(--project-project-selector-bg);
  display: flex;
  top: 120px;
  flex-direction: column;
  gap: 5px;
}
.projectDetails div:hover {
  /* color: #040316; */
}
.teamContainer{
    color: var(--text-total-color) !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.projC{
    background: var(--project-project-selector-bg);

}
.projC input{
width: 94% !important;
}
.projC select{
width: 100% !important;
}
.projC button{
padding: 10px !important;
}
.teamContainer > div{
  
    background: var( --project-team-bg);
  display: flex;
  
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.projectDetails div {
  padding: 5px 6px;
}
.projectDetails div:hover {
  background: var(--project-selector-bg-hover);
}
.showprojectDetails {
  display: block !important;
}

@media (max-width: 768px) {
    .projectDetails{
        width: 300px !important;
    }
}
