.userStoriesHeaderContainer{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* Track */
.userStoriesHeaderContainer::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Handle */
.userStoriesHeaderContainer::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 0px !important; /* Rounded corners */
}

/* Handle on hover */
.userStoriesHeaderContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

/* Track when scrollbar is in "drag" state */
.userStoriesHeaderContainer::-webkit-scrollbar-thumb:active {
  background: #333; /* Color of the scrollbar handle when dragged */
}
.userStoriesHeader, .userStoryDetails {
    display: flex;
    /* width: 100%; */
    margin-bottom: 8px;
}

.userStoriesHeader div {
    background: var(--userstories-header);
    padding: 15px 50px;
    width: 250px;
    justify-self: flex-start;
    white-space: nowrap;
}
.userStoryDetails .userStoryCard{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;
    justify-content: flex-start;
    padding: 15px;
    width: 200px;
    height: auto;
    max-height: 200px;
        background: var(--userstories-header);
        /* border-left: 3px solid rgb(114, 114, 219); */
        border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}
.taskCard{
     display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;
    justify-content: flex-start;
    padding: 15px;
    width: 200px;
        background: var(--userstories-header);
        /* border-left: 3px solid orange !important; */
        border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       height: auto !important;
    max-height: 400px !important;

}

.userStoryMenucard{
    position: absolute;
    right: 15px;
    width: 150px;
    padding: 5px;
    background:  white;
    color: #6c6b6b;
    left: 100%;
    top: 35px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 999;

}
.userStoryMenucard div{
    padding: 5px;
    cursor: pointer;
}
.userStoryMenucard div:hover{
             background: rgb(186, 183, 183);

}

.userStoryMenucard.show{
    display: block !important;
}
.userStoryDetails .userStoryCard textarea {
    height: 30px;
    padding: 5px;
    width: 90%;
    border: 2px solid black;
    resize: none;
    border-radius: 5px;
}
.textUnderLinehover{
    cursor: pointer;
}
.textUnderLinehover:hover{
    text-decoration: underline;
}


.popupUserStoryHeader{
           border-left: 6px solid rgb(114, 114, 219);
}


.userStoryEditAllUserBox, .userStoryEditStatus{
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    padding: 10px 0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
      position: absolute;
      background: white;
    /* color: #040316; */
        z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userStoryEditAllUserBox div, .userStoryEditStatus div{
    padding: 10px;

}
.userStoryEditAllUserBox div:hover, .userStoryEditStatus div:hover{

    color: #040316;
}

.userStoryEditAllUserBox div:hover, .userStoryEditStatus div:hover{
          background: rgb(186, 183, 183);

}
.showuserStoryEditAllUserBox, .showuserStoryEditStatus{
    display: block !important;
}




.detailsContainer{
    display: flex;
    justify-content: space-between;
}

.leftDetailsContainer{
    flex: 90%;
}

.rightDetailsContainer{
    flex: 50%;
}